<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Circuit Samplers</title>
  <meta name="description" content="Circuit Samplers">
  <meta name="author" content="Lillian Ritchie">

  <link rel="stylesheet" href="../styles/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Montserrat|Nunito+Sans&display=swap" rel="stylesheet">

</head>

<body>

  <!-- section covering the supply list -->
  <section id="supplies" class="content">
    <header class="content-heading__dark sticky">
      <h2 class="content-heading">What You'll Need</h2>
    </header>
    <div class="content-body">
      <!-- standard embroidery supplies -->
      <h3 class="heading-body">Standard Embroidery Supplies</h3>
      <ul class="supply-list">
        <li class="bullet__main">6" embroidery hoop</li>
        <li class="bullet__main">tapestry needle</li>
        <li class="bullet__main">8.5" x 8.5" square of navy opaque fabric</li>
        <li class="bullet__main">8.5" x 8.5" square of navy sheer fabric</li>
        <li class="bullet__main">scissors</li>
        <li class="bullet__main">pins</li>
        <li class="bullet__main">Embroidery thread in the following colors:
          <ul>
            <li class="bullet__sub">DMC 117 (Blanc)</li>
            <li class="bullet__sub">DMC 827</li>
          </ul>
        </li>
        <li class="bullet__main">Fabric marking pen or pencil</li>
        <ul>
          <li class="bullet__sub subtext">(NOTE: Do NOT use a regular pencil to mark patterns. Graphite is conductive
            and could mess up your circuit!)</li>
        </ul>
      </ul>

      <!-- electronics specific supplies -->
      <h3 class="heading-body">E-Textiles Supplies</h3>
      <p class="content-body__text">
        These supplies may be unfamiliar to you or not already in your kit. I've included
        links to help you purchase the correct items at sparkfun.com (the official sellers of lilypad sewing supplies).
        There are other places you can find similar products online, but sparkfun are reliable, independent, and you can
        get em all in one package!
      </p>
      <ul class="supply-list">
        <li>1 Bobbin Conductive Thread <a class="buy-link" href="https://www.sparkfun.com/products/10867">buy here</a>
        </li>
        <li>5 White Sewable LEDs <a class="buy-link" href="https://www.sparkfun.com/products/13902">buy here</a></li>
        <li>1 Sewable Coin Cell Battery Holder <a class="buy-link" href="https://www.sparkfun.com/products/13883">buy
            here</a></li>
        <li>1 3V Coin Cell Battery (20mm CR2032) <a a class="buy-link" href="https://www.sparkfun.com/products/338">buy
            here</a></li>
      </ul>


    </div>
  </section>

  <!-- section covering understanding circuits -->
  <section class="content" id="understanding">
    <header class="content-heading__light sticky">
      <h2 class="content-heading">Understanding Circuits</h2>
    </header>
    <div class="content-body">
      <div id="understanding_electricity">
        <h3 class="heading-body">Understanding Electricity</h3>
        <p class="content-body__text">
          <span class="bold">Electricity</span> is the flow of electrical energy in one direction through a conductive
          material.
        </p>
        <p class="content-body__text">
          You might remember from high school science that atoms are made up of neutral particles (Neutrons), positively
          charged particles (Protons) and negatively charged particles (Electrons). Because Protons and Neutrons are
          both
          significantly heavier than electrons, they can’t move from atom to atom, so when we talk about the flow of
          electricity, we’re talking about the movement of electrons between atoms.
        </p>
      </div>
      <div id="understanding_circuits">
        <h3 class="heading-body">Understanding Circuits</h3>
        <p class="content-body__text">
          A <span class="bold">circuit</span> is a closed loop containing a source of electrical energy (our <span
            class="bold">3V battery </span>) and a <span class="bold">load</span> (our <span class="bold">LEDs</span>)
          which converts the energy to another form, such as light, heat, or motion. In a working circuit, all the
          energy from the power source will be used up by the loads. If the power in a circuit is not used up, it’s a
          <span class="bold">short circuit</span>.
          In a short circuit, the electrical energy will flow back to its source, which can cause irreversible damage to
          your battery.
        </p>

        <h4 class="heading-body__sub">Helpful Terms</h4>
        <p class="content-body__text">Here are some terms it’s helpful to understand when talking about electricity:</p>
        <p class="content-body__text"><span class="bold">Conductors</span> are materials like metals which allow for a
          free flow of electricity.
          Some examples of common conductive materials:
        </p>
        <ul class="conductor-list">
          <li>Copper Wires</li>
          <li>Aluminum Foil</li>
          <li>Steel Wool</li>
          <li>Water</li>
          <li><span class="bold">Conductive Thread</span> This is the material we'll be using in our circuits. It's made
            primarily of finely spun steel!</li>
        </ul>
        <p class="content-body__text">
          <span class="bold">Current</span> is the term we use to refer to the amount of electricity flowing through a
          conductive material.
        </p>
        <p class="content-body__text">
          <span class="bold">Voltage</span> is the “push” behind an electrical current. For instance, in this project
          we’re using a 3 Volt battery, so that’s the measurement of the amount of electricity being pushed through our
          circuit and getting converted into light energy by the LEDs.
        </p>
        <p class="content-body__text">
          <span class="bold">Insulators</span> are materials that do not allow electricity to flow through them. Good
          examples of insulating materials are:
        </p>
        <ul class="insulator-list">
          <li>Glass</li>
          <li>Plastic</li>
          <li>Rubber</li>
        </ul>
        <p class="content-body__text">
          In regular electronic circuits, wires are usually coated with plastic to protect the user and prevent the loss
          of current. The conductive thread we’re using does not have any protective coating but that’s okay! Why?
        </p>
        <ul class="insulator-why content-body__text">
          <li>
            We’re working with a very low voltage, so any electricity you come into contact with won’t be strong enough
            to hurt you.
          </li>
          <li>There will likely be a slight loss of current over the circuit, but since the electricity only needs to
            travel a few inches, it will be minimal enough that it won’t affect the circuit.</li>
        </ul>

        <p class="content-body__text">
          <span class="bold">Resistors</span> slow down, but don’t totally block the flow of electricity. Some of the
          electricity is able to move through this material, but the current will be reduced as the energy moves through
          this material. Resistors are useful to reduce the amount of current flowing into a load like an LED to an
          amount that the LED can handle without heating up and blowing out. If we were building normal electronics
          circuits, we’d have to include resistors but one of the great features of sewable LEDs is they have tiny
          resistors built in, so that step is done for us!
        </p>
      </div>

      <div class="series-v-parallel">
        <h4 class="heading-body__sub">Series v Parallel</h4>
        <p class="content-body__text">
          There are two ways to power LEDs in a circuit, and they behave in different ways. The first way we’ll look at
          is called in <span class="bold">series</span>
        </p>
        <img src="../assets/LED-in-sequence.png" width=500px />
        <p class="content-body__text">When you connect LEDs together in a single line like this, it’s called “in
          series”. What happens in this kind of a circuit is that the full range of power flows through one LED at a
          time, and the LED takes the full amount of power it can possibly convert into light before passing current on
          to the next light. The drawback here, is that if your power source doesn’t have enough voltage, the lights
          further out in your circuit won’t be as bright.</p>

        <p class="content-body__text">
          The form of circuit we’ll be using in this project is called <span class="bold">in parallel</span> and the
          circuit will look something like this:
        </p>

        <img src="../assets/LED-in-parallel.png" width=510px />

        <p>When you sew LEDs together in a circuit like this, the power flows evenly through all the LEDs before
          returning to ground on your power source. As a result, even if the lights glow more dimly, they will all glow
          evenly. (An added perk of sewing lights in parallel is that if one light goes out, the others stay working)
        </p>

      </div>

    </div>
  </section>

  <!-- section covering how to sew with conductive thread -->

  <section class="content" id="techniques">
    <header class="content-heading__dark sticky">
      <h2 class="content-heading">Sewing with Conductive Thread</h2>
    </header>
    <div class="content-body">
      <h3 class="heading-body">Techniques for Sewing with Conductive Thread</h3>
      <p class="content-body__text">
        While most of the techniques of sewing with conductive thread are the same as any thread, there are a few ground
        rules and challenges you’ll need to remember when working with conductive thread.
      </p>
      <h4 class="heading-body__sub">Texture</h4>
      <p class="content-body__text">
        Conductive thread is made of spun steel, so the texture of this fiber is not what you’re used to. The texture is
        a lot stiffer, there’s more friction, and it’s more likely to fray and tangle. Err on the side of shorter pieces
        of thread to avoid tangles in your circuit.
      </p>
      <h4 class="heading-body__sub">Always Double Down</h4>
      <p class="content-body__text">Because we want to make as clear a pathway for our current as possible, it’s best to
        double up the thread to make a thicker path for the electricity to move through.
      </p>
      <p class="content-body__text">For the same reason, you want to use as much thread as possible when connecting
        battery or LED components, so that there’s a nice solid amount of surface area to connect the pieces of your
        circuit. I find a good general rule of thumb is to loop around each sew tab at least 3 times when making
        connections.</p>
      <h4 class="heading-body__sub">Knots and Glue</h4>
      <p class="content-body__text">Because this material makes up the path the electricity will travel, this means you
        need to alter some of the “usual” ways you might handle thread, especially on the back of your sampler.</p>
      <p class="content-body__text">As a rule, you never want to weave conductive thread behind other stitches on the
        back of your sampler!</p>
      <p class="content-body__text">Try starting your circuit with a quilters knot, and when you reach the end of a
        connection, finish by tying a knot around the loops you made around your sew tab.</p>
      <p class="content-body__text">
        Once you’re done stitching, you’ll want to isolate any end pieces of fabric and glue them down (somewhere where
        they don’t contact other pieces) either with a small dab of elmers or fabric glue or a drop of clear nail
        polish.
      </p>
    </div>
  </section>
  <!-- pattern section -->
  <section class="content" id="start">
    <header class="content-heading__light sticky">
      <h2 class="content-heading">Start Stitching</h2>

    </header>
    <div class="content-body">

      <h3 class="heading-body">Choose Your Astrology Pattern</h3>
      <p class="content-body__text">Okay! Now that we’ve covered the basics, let’s get started. Choose the astrological
        sign you want to stitch from the menu below.</p>

      <!-- drop down menu -->

      <!-- <label for="signs">Astrological Sign:</label> -->
      <select name="astro-signs" class="drop-menu" id="signs">
        <option value="aquarius">Aquarius</option>
        <option value="pisces">Pisces</option>
        <option value="aries">Aries</option>
        <option value="taurus">Taurus</option>
        <option value="gemini">Gemini</option>
        <option value="cancer">Cancer</option>
        <option value="leo">Leo</option>
        <option value="virgo">Virgo</optioon>
        <option value="libra">Libra</option>
        <option value="scorpio">Scorpio</option>
        <option value="saggitarius">Saggitarius</option>
        <option value="capricorn">Capricorn</option>
      </select>

      <!-- circuit pattern instructions -->
      <h3 class="heading-body">Layer 1: Stitching your Circuit</h3>
      <!-- container for pattern image -->
      <container class="pattern-image" id="pattern-1"></container>
      <p class="content-body__text">
        This first pattern layer represents the stitching for your circuit. The larger circle is your <span
          class="bold">battery holder</span>,
        and the small pill-shaped shapes are your <span class="bold">sewable LEDs</span>. Take a look at these
        components in real life - you’ll
        see that they’re all marked with tiny (<span class="bold">+</span>) and (<span class="bold">-</span>) symbols.
        These will be your guides to making sure you’re
        connecting everything correctly. The electrical current will flow from the <span class="bold">+</span>
        connection points back around to
        the <span class="bold">-</span> connection points on the battery.
      </p>

      <!-- circuit steps -->
      <ul class="circuit-steps">
        <li>
          <span class="bold">Set up your Hoop</span> - This step is the same as what you’re already used to, Take the
          Opaque Navy Fabric and secure it in your embroidery hoop so that it’s pulled taut.
        </li>
        <li>
          <span class="bold">Copy the Pattern</span> - Using a pen or fabric pencil (DO NOT use graphite here!
          Graphite is conductive and could break your circuit) mark out the placement for your components and stitch
          lines.
        </li>
        <li>
          <span class="bold">Connect your battery pack to the BACK of your sampler</span> - If you want to, you can
          secure the battery holder in place with a drop of glue before you start sewing.
        </li>
        <li>
          <span class="bold">Start Sewing Connections</span>
          <ul class="circuit-steps__sub">
            <li>
              Using two strands of conductive thread, loop around either of the two (+) sew tabs that you see on the
              battery in the diagram. Make sure to loop through the hole on the battery pack at least 3 times.
            </li>
            <li>
              Using a running stitch, sew a straight connection to the first LED in the diagram, and connect it by
              looping around the (+) sew tab at least 3 times.
            </li>
            <li>
              Continue from this (+) sew tab, and stitch another straight running stitch to the next LED. Again, loop
              around the sew tab 3 times.
            </li>
            <li>
              Once you’ve reached the end of this line of LEDs, secure your connection with a small knot, and make sure
              neither loose thread ends are touching any other parts of the circuit.
            </li>
          </ul>
        </li>
        <li>
          <span class="bold">Repeat</span> - Take a new length of conductive thread and connect the (-) sew tab of the
          battery in line with the (-) sew tabs on the LEDs. Don’t forget to loop around each connection a minimum of
          three times.
        </li>
        <li>
          <span class="bold">Test</span> - Once you’ve finished securing your connections, it’s time to test this half
          of the circuit! Place a coin cell battery in your battery holder, and flip the switch to “on”. Are all your
          lights working? If not, try checking for these common errors:
          <ul class="circuit-steps__sub">
            <li>
              re your connections secure? Is the conductive thread laying flat on the metal portion of the sew tab?
            </li>
            <li>
              Are your (+) and (-) connections properly lined up? Have you sewn any LEDs in facing the wrong direction?
            </li>
            <li>
              Are any pieces of thread hanging loose? They could be touching other parts of the circuit and causing a
              short.
            </li>
            <li>
              Is your battery fully charged? Make sure you only place a battery in the holder when you’re ready to test.
              If you accidentally short the circuit while working, you can fry your battery and will need to replace it.
            </li>
          </ul>
        <li>
          <span class="bold">Repeat Steps 3-6</span> on the other side of your circuit.
        </li>
        <li>
          <span class="bold">Secure Loose Ends</span> - Secure any loose pieces of conductive thread with a small dab of
          glue. (I like using tacky glue, but any kind of craft, fabric, or elmer’s will work. You can even use a small
          dab of clear nail polish if you prefer.
        </li>
        
      </ul>







    </div>
  </section>

  <section class="content" id="troubleshoot">
    <header class="content-heading__dark sticky">
      <h2 class="content-heading">Help</h2>
    </header>
    <div class="content-body">


    </div>
  </section>
</body>

</html>