<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Circuit Samplers</title>
  <meta name="description" content="Circuit Samplers">
  <meta name="author" content="Lillian Ritchie">

  <link rel="stylesheet" href="../styles/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Montserrat|Nunito+Sans&display=swap" rel="stylesheet">

</head>

<body>

  <section id="supplies" class="content">
    <header class="content-heading__dark">
      <h2 class="content-heading">What You'll Need</h2>
    </header>
    <div class="content-body">
      <h3 class="heading-body">Standard Embroidery Supplies</h3>
      <ul class="supply-list">
        <li class="bullet__main">6" embroidery hoop</li>
        <li class="bullet__main">tapestry needle</li>
        <li class="bullet__main">8.5" x 8.5" square of navy opaque fabric</li>
        <li class="bullet__main">8.5" x 8.5" square of navy sheer fabric</li>
        <li class="bullet__main">scissors</li>
        <li class="bullet__main">pins</li>
        <li class="bullet__main">Embroidery thread in the following colors:
          <ul>
            <li class="bullet__sub">DMC 117 (Blanc)</li>
            <li class="bullet__sub">DMC 823</li>
            <li class="bullet__sub">DMC 825</li>
            <li class="bullet__sub">DMC 826</li>
            <li class="bullet__sub">DMC 827</li>
          </ul>
        </li>
        <li class="bullet__main">Fabric marking pen or pencil</li>
        <ul>
          <li class="bullet__sub subtext">(NOTE: Do NOT use a regular pencil to mark patterns. Graphite is conductive
            and could mess up your circuit!)</li>
        </ul>
      </ul>
    </div>
  </section>

  <section class="content" id="understanding">
    <header class="content-heading__light">
      <h2 class="content-heading">Understanding Circuits</h2>
    </header>
    <div class="content-body">
      <h3 class="heading-body">Understanding Electricity</h3>
      <p class="content-body__text">
        <span class="bold">Electricity</span> is the flow of electrical energy in one direction through a conductive material.
      </p>
      <p class="content-body__text">
        You might remember from high school science that atoms are made up of neutral particles (Neutrons), positively
        charged particles (Protons) and negatively charged particles (Electrons). Because Protons and Neutrons are both
        significantly heavier than electrons, they can’t move from atom to atom, so when we talk about the flow of
        electricity, we’re talking about the movement of electrons between atoms.
      </p>
    </div>
  </section>

  <section class="content" id="techniques">
    <header class="content-heading__dark">
      <h2 class="content-heading">Sewing with Conductive Thread</h2>
    </header>
    <div class="content-body">

    </div>
  </section>

  <section class="content" id="start">
    <header class="content-heading__light">
      <h2 class="content-heading">Start Stitching</h2>
    </header>
    <div class="content-body">

    </div>
  </section>

  <section class="content" id="troubleshoot">
    <header class="content-heading__dark">
      <h2 class="content-heading">Help</h2>
    </header>
    <div class="content-body">


    </div>
  </section>
</body>

</html>