//declare colors in hex
$color-grey-light: #F2F2F2;
$color-grey-medium: #D1CFC9;
$color-blue-light: #8BA9FF;
$color-blue-medium: #4F7BFF;
$color-blue-dark: #001F7D;
$color-yellow: #FFCE4F;
$color-black: #383D45;
